.leaflet-container {
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.leaflet-top, .leaflet-bottom {
    z-index: 400;
}

.map-container {
    position: relative;
    z-index: 0;
}

nav {
    z-index: 50;
    position: relative;
}

.map-container {
    position: relative;
  }
  #controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .layer-toggle {
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 5px;
  }

  